{{ form_start(form) }}
  
     <div class="container">
        
        <div >{{form_row(form.name)}}</div>
        
        <div>{{form_row(form.description)}}</div>   

        <div class="row">
          <div class="col-md-3">{{form_row(form.niveau)}}</div>
          <div class="col-md-3">{{form_row(form.trick_group)}}</div>
          <div class="col-md-6">{{form_row(form.cover)}}</div>
        </div>

      </div> 
   
     
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
